@model IEnumerable<Ecoporto.AgendamentoDEPOT.Models.DTO.AgendamentoDTO>
@using Ecoporto.AgendamentoDEPOT.Enums
@using Ecoporto.AgendamentoDEPOT.Extensions

@{
    ViewBag.Title = "Consultar Agendamentos";
}

<section class="content-header">
    <h1>
        Meus Agendamentos
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-home"></i>Home
            </a>
        </li>
        <li>
            <a href="#">Consultar Agendamentos</a>
        </li>
    </ol>
</section>

<div class="card">

    <div class="card-header">
        <i class="fa fa-table fa-lg"></i>
        Agendamentos
        <div class="float-right">
            <a href="@Url.Action("Cadastrar", "Agendamento")" class="btn btn-info btn-sm btn-novo"><i class="fa fa-edit"></i>&nbsp;Novo Agendamento</a>
        </div>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table id="datatables" class="table table-hover table-sm" cellspacing="0">
                <thead>
                    <tr>
                        <th class="td-icone">&nbsp;</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Motorista</th>
                        <th scope="col">Veículo</th>
                        <th scope="col">Recinto</th>
                        <th scope="col">Período</th>
                        <th scope="col" class="text-center">Quantidade</th>
                        <th scope="col">Protocolo</th>
                        <th scope="col">Impresso</th>
                        <th scope="col">Data Entrada</th>
                        <th class="campo-acao">&nbsp;</th>
                        <th class="campo-acao">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var tipo = item.TipoAgendamento;

                        if (item.PossuiEntrada == false)
                        {
                            <tr id="item-@item.Id">
                                <td class="td-icone">
                                    @if (tipo == TipoAgendamento.TRA)
                                    {
                                        <img src="@Url.Content("~/Content/img/icone-tra.png")" />
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Content/img/icone-depot.png")" />
                                    }
                                </td>
                                <td>@item.TipoAgendamento.ToName()</td>
                                <td>@item.MotoristaDescricao</td>
                                <td>@item.VeiculoDescricao</td>
                                <td>@item.RecintoDescricao</td>
                                <td>@item.PeriodoDescricao</td>
                                <td class="text-center">@item.Quantidade</td>
                                <td><a href="@Url.Action("Protocolo","Agendamento")/@item.Id/@tipo" target="_blank">@(string.Concat(@item.Protocolo.PadLeft(6, '0'), "/", @item.AnoProtocolo))</a></td>
                                <td class="campo-acao text-center">@Html.Raw(item.Impresso ? "<i class='far fa-check-square'></i>" : "<i class='far fa-square'></i>") </td>
                                <td>@item.DataEntrada</td>
                                <td class="campo-acao"><a href="@Url.Action("Atualizar","Agendamento")/@item.Id/@tipo" class="btn btn-info btn-sm btn-acao"><i class="fa fa-edit"></i>&nbsp;Atualizar</a></td>
                                <td class="campo-acao"><a href="#" onclick="Excluir(@item.Id, '@tipo')" class="btn btn-danger btn-sm btn-acao"><i class="fa fa-trash"></i>&nbsp;Excluir</a></td>
                            </tr>
                        }
                        else
                        {
                            <tr class="linha-desabilitada" id="item-@item.Id">
                                <td class="td-icone">
                                    @if (tipo == TipoAgendamento.TRA)
                                    {
                                        <img src="@Url.Content("~/Content/img/icone-tra.png")" />
                                    }
                                    else
                                    {
                                        <img src="@Url.Content("~/Content/img/icone-depot.png")" />
                                    }
                                </td>
                                <td>@item.TipoAgendamento.ToName()</td>
                                <td>@item.MotoristaDescricao</td>
                                <td>@item.VeiculoDescricao</td>
                                <td>@item.RecintoDescricao</td>
                                <td>@item.PeriodoDescricao</td>
                                <td>@item.Quantidade</td>
                                <td><a href="@Url.Action("Protocolo","Agendamento")/@item.Id/@tipo" target="_blank" class="lnk-desabilitado">@(string.Concat(@item.Protocolo.PadLeft(6, '0'), "/", @item.AnoProtocolo))</a></td>
                                <td class="campo-acao text-center">@Html.Raw(item.Impresso ? "<i class='far fa-check-square'></i>" : "<i class='far fa-square'></i>") </td>
                                <td>@item.DataEntrada</td>
                                <td class="campo-acao"><a href="@Url.Action("Visualizar","Agendamento")/@item.Id/@tipo" class="btn btn-secondary btn-sm btn-acao"><i class="fa fa-search"></i>&nbsp;Visualizar</a></td>
                                <td class="campo-acao"><a href="#" class="btn btn-secondary btn-sm btn-acao disabled"><i class="fa fa-trash"></i>&nbsp;Excluir</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>

@Html.Partial("_ModalExclusao")

@section Css{
    @Styles.Render("~/bundles/datatablesCSS")
}

@section Scripts{

    @Scripts.Render("~/bundles/datatables")

    <script>

         $(document).ready(function () {

            var langUrl = "@Url.Content("~/Content/plugins/datatables/language/pt-br.json")";

             $('#datatables').DataTable({
                "language": {
                    "url": langUrl
                }
            });
         });

        function Excluir(id, tipo) {

            $('#modal-mensagem').text('Confirma a exclusão do Agendamento?');

            $('#del-modal')
                .data('id', id)
                .data('tipo', tipo)
                .modal('show');
        }

        function ConfirmarExclusao() {

            var _url = '@Url.Action("Excluir")';

            var _id = $('#del-modal')
                .data('id');

            var _tipo = $('#del-modal')
                .data('tipo');

            $.post(_url, { id: _id, tipoAgendamento: _tipo })
                .done(function (data, statusText, xhr) {
                    toastr.success('Agendamento excluído com sucesso!', 'Agendamento');
                    $('#item-' + _id).remove();
                }).fail(function (data) {

                    if (data.statusText !== '') {
                        toastr.error(data.statusText, 'Agendamento');
                    } else {
                        toastr.error('O registro não pode ser excluído', 'Agendamento');
                    }
                }).always(function () {
                    $('#del-modal')
                        .data('id', '0')
                        .modal('hide');
                });
        }

    </script>
}
