@model  IEnumerable<Ecoporto.AgendamentoCS.Models.NotaFiscal>

@{
    var classe = Model.Any() ? "" : "invisivel";
}

<div id="pnlDanfeUpload" class="table-responsive">
    <table id="tblDanfesUpload" class="table table-sm @classe">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="td-icone">&nbsp;</th>
                <th scope="col">Numero NF</th>
                <th scope="col">Serie</th>
                <th scope="col">Emissor</th>
                <th scope="col">Data Emissão</th>
                <th scope="col">Qtd</th>
                <th scope="col">Valor</th>
                <th scope="col">Peso</th>
                <th scope="col">Mt_Cubico</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td class="td-icone">
                    <img src="@Url.Content("~/Content/img/icone-nf.png")" />
                </td>
                <td>@item.NumeroNF</td>
                <td>@item.SerieNF</td>
                <td>@item.Emissor</td>
                <td>@item.DataEmissao</td>
                <td>@item.Quantidade</td>
                <td>@item.Valor</td>
                <td>@item.Peso</td>
                <td>@item.MetroCubico</td>
                @*<td>@item.CFOP</td>*@
            </tr>
            }
        </tbody>
    </table>
</div>