@model  Ecoporto.AgendamentoCS.Models.ViewModels.AgendamentoViewModel

<div class="row">
    <div class="form-group col-md-12 mb-0">
        <div class="input-group mb-3">
            <div class="custom-file">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "custom-file-input", maxlength = "44", onkeypress = "return apenasNumeros();", type = "file", id = "fileinput" } })
                <label class="custom-file-label" for="inputGroupFile02">Clique aqui para enviar o arquivo Danfe, depois clique em Validar, depois Salvar</label>
            </div>
            <div class="input-group-append">
                <span class="input-group-text" id="btnLoad" onclick="loadFile()">Validar</span>
            </div>
            <div class="col-md-3 float-lg-right">
                <a id="btnAdicionarDanfe" href="#" class="btn btn-success btn-outline-info btn-block btn-as-block right">SALVAR   <i class="fas fa-save"></i></a>
            </div>
        </div>
        @Html.EditorFor(model => model.Danfe, new { htmlAttributes = new { @class = "form-control form-control-sm", maxlength = "44", onkeypress = "return apenasNumeros();", @disabled = "disabled", type = "text", style = "display:none" } })
        @Html.EditorFor(model => model.xml, new { htmlAttributes = new { @class = "form-control form-control-sm", type = "text", style = "display:none ", id = "xml" } })
        @Html.EditorFor(model => model.CFOP, new { htmlAttributes = new { @class = "form-control form-control-sm", @disabled = "disabled", type = "text", style = "display:none" } })
        <div class="col-md-12 mb-0 ">
            @Html.LabelFor(model => model.Danfe)
            @Html.DropDownListFor(c => c.Danfe, new MultiSelectList(Model.Motoristas, "Id", "Descricao"), string.Empty, new { @class = "form-control" })
            <small id="validaMotorista" class="text-danger invisivel">* Ou Selecione o arquivo abaixo</small>
        </div>
    </div>
    @*<textarea id="xml" style="display:initial"></textarea>*@
    <input type="text" id="Danfe2" style="display:none"></input>
    <div class="table-responsive" style="display: initial" id="tabelaDanfeXml">
        <table id="tblItensReserva" class="table table-sm">
            <thead class="">
                <tr>

                    <th scope="col">Numero NF</th>
                    <th scope="col">Serie</th>
                    <th scope="col">Emissor</th>
                    <th scope="col">Data</th>
                    <th scope="col">Qtd</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Peso Bruto</th>
                </tr>
            </thead>
            <tbody>

                <tr id="" class="linha-item-reserva">

                    <td class="td-w-10" id="numero"></td>
                    <td class="td-w-10" id="serie"></td>
                    <td class="td-w-10" id="emisso"></td>
                    <td class="td-w-20" id="data"></td>
                    <td class="td-w-10" id="qtd"></td>
                    <td class="td-w-15" id="valor"></td>
                    <td class="td-w-10" id="pesobruto"></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

@Html.Partial("_DanfesConsulta", Model.NotasFiscais)
