@model Ecoporto.AgendamentoCS.Models.ViewModels.AgendamentoViewModel
@using Ecoporto.AgendamentoCS.Helpers

@{
    ViewBag.Title = "Atualizar Agendamento";
}

<div class="row">

    <div class="col-xl-12">

        <section class="content-header">
            <h1>
                Gerenciamento de Agendamentos
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i>Home
                    </a>
                </li>
                <li>
                    <a href="#">Agendamentos</a>
                </li>
                <li class="active">Atualizar Agendamento</li>
            </ol>
        </section>

        @using (Ajax.BeginForm("Atualizar", "Agendamento", null, new AjaxOptions
        {
            OnSuccess = "agendamentoMensagemSucesso",
            OnFailure = "agendamentoMensagemErro",
            HttpMethod = "POST"
        }, new { id = "frmCadastroAgendamento" }))
        {
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-calendar-alt fa-lg"></i>
                    Detalhes do Agendamento
                    <div class="float-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div id="msgErro" class="invisivel alert alert-danger" role="alert"></div>
                            </div>
                        </div>
                    </div>

                    <div id="smartwizard">
                        <ul>
                            <li><a href="#motorista">Passo 1<br /><small>Escolha do Motorista</small></a></li>
                            <li><a href="#veiculo">Passo 2<br /><small>Escolha do Veículo</small></a></li>
                            <li><a href="#carregamento">Passo 3<br /><small>Informações da Carga</small></a></li>
                            <li><a href="#periodo">Passo 4<br /><small>Escolha do Período</small></a></li>
                        </ul>

                        <div class="mt-3">
                            <div id="motorista" class="">

                                @Html.HiddenFor(c => c.Id)

                                <div class="row">
                                    <div class="form-group col-md-10">
                                        @Html.LabelFor(model => model.MotoristaId)
                                        @Html.DropDownListFor(c => c.MotoristaId, new MultiSelectList(Model.Motoristas, "Id", "Nome"), string.Empty, new { @class = "form-control" })
                                        <small id="validaMotorista" class="text-danger invisivel">* Selecione o Motorista</small>
                                    </div>
                                    <div class="form-group col-md-2 pl-0">
                                        <label for="btnPesquisarMotorista">&nbsp;</label>
                                        <a id="btnPesquisarMotorista" href="#" class="btn btn-outline-info btn-block btn-as-block"><i class="fas fa-search"></i>&nbsp;&nbsp;Pesquisar</a>
                                    </div>
                                </div>

                                <div id="pnlDetalhesMotorista">
                                    @Html.Partial("_DetalhesMotorista", Model.DetalhesMotorista)
                                </div>

                            </div>
                            <div id="veiculo" class="">

                                <div class="row">
                                    <div class="form-group col-md-10">
                                        @Html.LabelFor(model => model.VeiculoId)
                                        @Html.DropDownListFor(c => c.VeiculoId, new MultiSelectList(Model.Veiculos, "Id", "Descricao"), string.Empty, new { @class = "form-control" })
                                        <small id="validaVeiculo" class="text-danger invisivel">* Selecione o Veículo</small>
                                    </div>
                                    <div class="form-group col-md-2 pl-0">
                                        <label for="btnPesquisarVeiculo">&nbsp;</label>
                                        <a id="btnPesquisarVeiculo" href="#" class="btn btn-outline-info btn-block btn-as-block"><i class="fas fa-search"></i>&nbsp;&nbsp;Pesquisar</a>
                                    </div>
                                </div>

                                <div id="pnlDetalhesVeiculo">
                                    @Html.Partial("_DetalhesVeiculo", Model.DetalhesVeiculo)
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-2">
                                        @Html.LabelFor(model => model.CTE)
                                        @Html.EditorFor(model => model.CTE, new { htmlAttributes = new { @class = "form-control", maxlength = "10" } })
                                    </div>
                                </div>

                            </div>
                            <div id="carregamento" class="">

                                @Html.Partial("_DetalhesReserva")
                                @Html.Partial("_ItensReserva")

                                <div class="row">
                                    <div class="col-md-12 mb-1">
                                        <label>Doc. Carga</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-2"></div>
                                    <div class="form-group col-md-3">
                                        <div class="custom-control custom-radio">
                                            <input type="checkbox" class="custom-control-input" id="nfe" />
                                            <label class="custom-control-label" for="nfe">NFE </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="checkbox" id="due" />
                                            <label class="custom-control-label" for="due">DUE </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="custom-control custom-radio">
                                            <input class="custom-control-input" type="checkbox" id="dat" />
                                            <label class="custom-control-label" for="dat">DAT</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-1"></div>
                                </div>

                                @Html.Partial("_DUE", Model.AG_DUE)
                                @Html.Partial("_DAT", Model.AG_DAT)
                                @Html.Partial("_Danfes")

                                <div class="row">
                                    <div class="form-group col-md-12">

                                        @using (Ajax.BeginForm("CadastrarDocumento", "Agendamento", new AjaxOptions
                                        {
                                            UpdateTargetId = "_VincularDocumentosConsulta",
                                            OnSuccess = "mensagemCadastroDocumentoSucesso",
                                            OnFailure = "mensagemCadastroErro",
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "POST"
                                        }, new { id = "frmCadastrarDocumentos", enctype = "multipart/form-data" }))
                                        {
                                            @Html.Partial("_VincularDocumentos", Model.AgendamentoUploadViewModel)
                                        }

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        @Html.LabelFor(model => model.EmailRegistro)
                                        @Html.EditorFor(model => model.EmailRegistro, new { htmlAttributes = new { @class = "form-control", maxlength = "400" } })
                                    </div>
                                </div>

                            </div>

                            <div id="periodo" class="">

                                @Html.HiddenFor(model => model.PeriodoId)

                                <div class="row">
                                    <div class="form-group col-md-12">

                                        @Html.Partial("_Periodos", Model.Periodos)

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-2 offset-md-10">
                                        @if (Model.PossuiEntrada == false)
                                        {
                                            <button type="submit" class="btn btn-info btn-block">Concluir</button>
                                        }
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        }
    </div>

</div>

<br />

@Html.Partial("_PesquisarMotoristas")
@Html.Partial("_PesquisarVeiculos")
@Html.Partial("_ModalExclusaoItemReserva")
@Html.Partial("_ModalExclusaoDanfe")
@Html.Partial("_ModalExclusaoUpload")
@Html.Partial("_ModalVeiculoInvalido")
@Html.Partial("_ModalReservaSemSaldo")
@Html.Partial("_ModalExclusaoDUE")
@Html.Partial("_ModalExclusaoDAT")

@section Css{
    @Styles.Render("~/bundles/smartWizardCSS")


}

@section Scripts{

    @Scripts.Render("~/bundles/smartWizard")
    @Scripts.Render("~/bundles/bootstrap4Toggle")
    @Scripts.Render("~/bundles/agendamento")
    <script>
        $(document).ready(function () {
            $('#txtDAT').mask('99BR9999999');
            $('#txtDUE').mask('99BR9999999999');
            $('#tabelaDAT').hide();
            $('#tabelaDUE').hide();
            $('#tblDanfes').hide();
            $('#tabelaDanfeXml').hide();

            $('#nfe').click(function () {
                if ($(this).is(':checked')) {
                    $('#due').prop('checked', false);
                    $('#dat').prop('checked', false);
                    $('#divDanfe').show();
                    $('#divDAT').hide();
                    $('#divDUE').hide();
                    $('#txtDAT').val('');
                    $('#txtDUE').val('');
                    $('#tblDanfes').show();
                    $('#tabelaDUE').hide();
                    $('#tabelaDAT').hide();
                    $('#tabelaDanfeXml').show();
                }


            });

            $('#due').click(function () {
                if ($(this).is(':checked')) {
                    $('#nfe').prop('checked', false);
                    $('#dat').prop('checked', false);
                    $('#divDanfe').hide();
                    $('#divDAT').hide();
                    $('#divDUE').show();
                    $('#txtDAT').val('');
                    $('#tblDanfes').hide();
                    $('#tabelaDUE').show();
                    $('#tabelaDAT').hide();
                    $('#tabelaDanfeXml').hide();
                }
            });

            $('#dat').click(function () {
                if ($(this).is(':checked')) {
                    $('#nfe').prop('checked', false);
                    $('#due').prop('checked', false);
                    $('#divDanfe').hide();
                    $('#divDAT').show();
                    $('#divDUE').hide();
                    $('#txtDAT').val('');
                    $('#tblDanfes').hide();
                    $('#tabelaDUE').hide();
                    $('#tabelaDAT').show();
                    $('#tabelaDanfeXml').hide();
                }
            });
        });        
    </script>
}