@model Ecoporto.AgendamentoCS.Models.ViewModels.AgendamentoViewModel
@using Ecoporto.AgendamentoCS.Helpers

@{
    ViewBag.Title = "Cadastrar Agendamento";
}

<div class="row">

    <div class="col-xl-12">

        <section class="content-header">
            <h1>
                Gerenciamento de Agendamentos
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i>Home
                    </a>
                </li>
                <li>
                    <a href="#">Agendamentos</a>
                </li>
                <li class="active">Cadastrar Agendamento</li>
            </ol>
        </section>

        @using (Ajax.BeginForm("Cadastrar", "Agendamento", null, new AjaxOptions
        {
            OnSuccess = "agendamentoMensagemSucesso",
            OnFailure = "agendamentoMensagemErro",
            HttpMethod = "POST"
        }, new { id = "frmCadastroAgendamento" }))
        {
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-calendar-alt fa-lg"></i>
                    Detalhes do Agendamento
                    <div class="float-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">

                    @Html.HiddenFor(c => c.ClassificacaoId)

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.ValidarFormulario(ViewContext.ViewData.ModelState, false)
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div id="msgErro" class="invisivel alert alert-danger" role="alert"></div>
                            </div>
                        </div>
                    </div>

                    <div id="smartwizard">
                        <ul>
                            <li><a href="#motorista">Passo 1<br /><small>Escolha do Motorista</small></a></li>
                            <li><a href="#veiculo">Passo 2<br /><small>Escolha do Veículo</small></a></li>
                            <li><a href="#carregamento">Passo 3<br /><small>Informações da Carga</small></a></li>
                            <li><a href="#periodo">Passo 4<br /><small>Escolha do Período</small></a></li>
                        </ul>

                        <div class="mt-3">
                            <div id="motorista" class="">

                                <div class="row">
                                    <div class="form-group col-md-10">
                                        @Html.LabelFor(model => model.MotoristaId)
                                        @Html.DropDownListFor(c => c.MotoristaId, new MultiSelectList(Model.Motoristas, "Id", "Descricao"), string.Empty, new { @class = "form-control" })
                                        <small id="validaMotorista" class="text-danger invisivel">* Selecione o Motorista</small>
                                    </div>
                                    <div class="form-group col-md-2 pl-0">
                                        <label for="btnPesquisarMotorista">&nbsp;</label>
                                        <a id="btnPesquisarMotorista" href="#" class="btn btn-outline-info btn-block btn-as-block"><i class="fas fa-search"></i>&nbsp;&nbsp;Pesquisar</a>
                                    </div>
                                </div>

                                <div id="pnlDetalhesMotorista"></div>

                            </div>
                            <div id="veiculo" class="">

                                <div class="row">
                                    <div class="form-group col-md-10">
                                        @Html.LabelFor(model => model.VeiculoId)
                                        @Html.DropDownListFor(c => c.VeiculoId, new MultiSelectList(Model.Veiculos, "Id", "Descricao"), string.Empty, new { @class = "form-control" })
                                        <small id="validaVeiculo" class="text-danger invisivel">* Selecione o Veículo</small>
                                    </div>
                                    <div class="form-group col-md-2 pl-0">
                                        <label for="btnPesquisarVeiculo">&nbsp;</label>
                                        <a id="btnPesquisarVeiculo" href="#" class="btn btn-outline-info btn-block btn-as-block"><i class="fas fa-search"></i>&nbsp;&nbsp;Pesquisar</a>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div id="pnlDetalhesVeiculo"></div>
                                    </div>
                                </div>

                                <div id="pnlCTE" class="row invisivel">
                                    <div class="form-group col-md-4">
                                        @Html.LabelFor(model => model.CTE)
                                        @Html.EditorFor(model => model.CTE, new { htmlAttributes = new { @class = "form-control", maxlength = "44", onkeypress = "return apenasNumeros();" } })
                                    </div>
                                </div>

                            </div>
                            <div id="carregamento" class="">

                                @Html.Partial("_DetalhesReserva")

                                <div id="pnlReserva" class="invisivel">

                                    @Html.Partial("_ItensReserva")
                                    @Html.Partial("_Danfes")

                                    <div class="row">
                                        <div class="form-group col-md-12">

                                            @using (Ajax.BeginForm("CadastrarDocumento", "Agendamento", new AjaxOptions
                                            {
                                                UpdateTargetId = "_VincularDocumentosConsulta",
                                                OnSuccess = "mensagemCadastroDocumentoSucesso",
                                                OnFailure = "mensagemCadastroErro",
                                                InsertionMode = InsertionMode.Replace,
                                                HttpMethod = "POST"
                                            }, new { id = "frmCadastrarDocumentos", enctype = "multipart/form-data" }))
                                            {
                                                @Html.Partial("_VincularDocumentos", Model.AgendamentoUploadViewModel)
                                            }

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            @Html.LabelFor(model => model.EmailRegistro)
                                            @Html.EditorFor(model => model.EmailRegistro, new { htmlAttributes = new { @class = "form-control", maxlength = "400" } })
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div id="periodo" class="">

                                @Html.HiddenFor(model => model.PeriodoId)

                                <div class="row">
                                    <div class="form-group col-md-12">

                                        <div id="pnlPeriodos">
                                            @Html.Partial("_Periodos", Model.Periodos)
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-2 offset-md-10">

                                        <button id="btnConcluirAgendamento" type="submit" onclick="Spinner(this)" class="btn btn-info btn-block">Concluir</button>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

        }
    </div>

</div>

<br />

@Html.Partial("_PesquisarMotoristas")
@Html.Partial("_PesquisarVeiculos")
@Html.Partial("_ModalExclusaoItemReserva")
@Html.Partial("_ModalExclusaoDanfe")
@Html.Partial("_ModalExclusaoUpload")
@Html.Partial("_ModalVeiculoInvalido")
@Html.Partial("_ModalReservaSemSaldo")

@section Css{
    @Styles.Render("~/bundles/smartWizardCSS")
    @Styles.Render("~/bundles/bootstrap4ToggleCSS")
}

@section Scripts{

    @Scripts.Render("~/bundles/smartWizard")
    @Scripts.Render("~/bundles/bootstrap4Toggle")
    @Scripts.Render("~/bundles/agendamento")
}