@model Ecoporto.AgendamentoCS.Models.ViewModels.AgendamentoViewModel
@using Ecoporto.AgendamentoCS.Extensions

<div class="container">
    <div class="jumbotron mt-3">

        <h3><img src="@Url.Content("~/Content/img/icone-ok.png")" class="mr-4" />Agendamento realizado com sucesso!</h3>

        <br />

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <label>Data do Agendamento / Período:&nbsp;</label>@Model.PeriodoDescricao
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <label>Reserva:&nbsp;</label>@Model.Reserva
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <label>Motorista:&nbsp;</label>@Model.MotoristaDescricao
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <label>Veículo:&nbsp;</label>@Model.VeiculoDescricao
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 offset-md-1">
                <label>Data:&nbsp;</label>@Model.DataCadastro.DataHoraFormatada()
            </div>
        </div>

        @if (Model.NotasFiscais.Count() == 0 && Model.Bagagem == 0)
        {
            <div class="row mt-5">
                <div class="col-md-10 offset-md-1">
                    <h5 style="color: red; font-weight: bold">Seu Protocolo só poderá ser impresso quando o XML da DANFE estiver vinculado ao Agendamento</h5>
                </div>
            </div>
        }
        else
        {
            <div class="row mt-5">
                <div class="col-md-10 offset-md-1">
                    <a href="@Url.Action("Protocolo","Agendamento")/@Model.Id" class="btn btn-info" target="_blank">Imprimir Protocolo</a>
                </div>
            </div>
        }



    </div>
</div>
